@import url("../../fonts/Fonts.css");

.wrapper {
  min-height: 100vh;
  box-sizing: border-box;
}

.container {
  margin: 0 100px;
  padding: 0 20px;
}

.header {
  display: flex;
  padding-top: 20px;
  gap: 200px;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-menu-list {
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans";
}

.header-btn {
  color: white;
  background-color: #caa892;
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans";
  padding: 10px;
  border-radius: 15px 0 15px 0;
}

.main-contact {
  display: flex;
  align-items: center;
  gap: 100px;
  padding-top: 40px;
}

.contact {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-words {
  font-family: "Open Sans";
  font-weight: 600;
}

.contact-title {
  font-family: "Popins";
  font-weight: 600;
  font-size: 50px;
  max-width: 420px;
}

.contact-text {
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 30px;
}

.contact-btn {
  color: white;
  background-color: #37806b;
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans";
  padding: 10px;
  border-radius: 15px 0 15px 0;
  max-width: 100px;
}

.contact-img {
  position: relative;
  display: inline-block;
}

.contact-img > img {
  width: 400px;
  border-radius: 70px 0 70px 0;
  display: block;
}

.contact-img::after {
  content: "";
  position: absolute;
  top: 20px; /* Смещение вниз */
  left: 20px; /* Смещение вправо */
  width: 100%;
  height: 100%;
  border: 3px solid #b0855b; /* Задайте стиль и цвет границы */
  border-radius: 70px 0 70px 0;
  z-index: -1;
}

.card {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  gap: 30px;
  position: relative;
}

.card-service__text {
  font-family: "Popins";
  font-weight: 600;
  color: #646464;
  font-size: 18px;
}

.card-service__title {
  font-family: "Popins";
  font-weight: 500;
  font-size: 40px;
}

.card-container {
  display: flex;
  gap: 20px;
}

.arrow-left {
  color: #646464;
  position: absolute;
  right: 100px;
  top: 80px;
  width: 40px;
  height: 30px;
  box-shadow: -1px 3px 10px 0px #0000004d;
  background-color: white;
  border-radius: 30px;
}

.arrow-rigth {
  color: white;
  position: absolute;
  right: 40px;
  background: #37806b;
  box-shadow: -1px 3px 10px 0px #0000004d;
  top: 80px;
  width: 40px;
  height: 30px;
  border-radius: 30px;
}

.card-container__item {
  background-color: white;
  box-shadow: 0px 8px 20px 0px #00000024;
  max-width: 400px;
  border-radius: 40px 0 40px 0;
  padding: 30px;
  display: grid;
  grid-template-columns: auto 1fr; /* Две колонки: автоматическая ширина для изображения и оставшееся пространство для контента */
  grid-template-rows: auto auto; /* Две строки: одна для заголовка и одна для текста */
  align-items: start; /* Выравнивание элементов по верхней линии */
}

.activ {
  background-color: #caa892;
  color: white;
  transition: 0.3s;
}

.card-container__title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 22px;
  grid-column: 2;
}

.card-container__text {
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 28px;
  font-size: 18px;
  grid-column: 2;
}

.card-container__img {
  grid-row: 1 / 3;
  margin-right: 15px;
}

.main-about {
  display: flex;
  align-items: center;
  gap: 100px;
  padding-top: 150px;
}

.about {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.about-words {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
  color: #646464;
}

.about-title {
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 500;
  max-width: 450px;
}

.about-text {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  color: #646464;
  line-height: 30px;
}

.about-btn {
  color: white;
  background-color: #37806b;
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans";
  padding: 10px;
  border-radius: 15px 0 15px 0;
  max-width: 140px;
  margin-top: 20px;
}

.about-img {
  position: relative;
  display: inline-block;
}

.about-img > img {
  max-width: 560px;
  border-radius: 70px 0 70px 0;
  display: block;
}

.about-img::after {
  content: "";
  position: absolute;
  bottom: 20px; /* Смещение вниз */
  right: 20px; /* Смещение вправо */
  width: 100%;
  height: 100%;
  border: 3px solid #b0855b; /* Задайте стиль и цвет границы */
  border-radius: 70px 0 70px 0;
  z-index: -1;
}

.main-info {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  align-items: center;
  gap: 150px;
}
.info-number {
  font-family: "Open Sans";
  font-size: 300px;
  font-weight: 600;
  background: url("./img/tree.png");
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: cover;
}

.info-text {
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 500;
  line-height: 65px;
  letter-spacing: 0.04em;
  max-width: 450px;
}

.info-img {
  position: relative;
  display: inline-block;
}

.info-img > img {
  max-width: 560px;
  border-radius: 70px 0 70px 0;
  display: block;
}

.info-img::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100%;
  height: 100%;
  border: 3px solid #b0855b;
  border-radius: 70px 0 70px 0;
  z-index: -1;
}

.main-client {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 110px;
  gap: 50px;
  position: relative;
  padding-top: 100px;
}

.main-client::before {
  content: "";
  position: absolute;
  top: -20px; /* Компенсирует  родительского элемента */
  left: -100px; /* Компенсирует  родительского элемента */
  right: -100px; /* Компенсирует  родительского элемента */
  bottom: 0; /* Компенсирует  родительского элемента */
  z-index: -1;
  background-color: #f8f8f8;
}
.client-title {
  text-align: center;
  font-size: 45px;
  font-family: "Poppins";
  font-weight: 500;
}

.client-info {
  display: flex;
  gap: 170px;
  text-align: center;
}

.client-box {
  padding: 40px;
  background-color: #ffffff;
  border-radius: 40px 0 40px 0;
  box-shadow: 0px 13px 16px 0px #0000001a;
}

.client-number {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 40px;
}

.client-text {
  font-family: "Open Sans";
  font-weight: 600;
  color: #646464;
  margin-top: 5px;
}

.client-box:nth-child(2),
.client-box:nth-child(4) {
  position: relative;
  top: 90px;
}

.client-svg__one {
  position: absolute;
  width: 200px;
  bottom: 80px;
  left: 190px;
  z-index: -1;
}

.client-svg__two {
  position: absolute;
  bottom: 60px;
  left: 160px;
  z-index: -1;
}

.client-svg__three {
  position: absolute;
  right: 180px;
  bottom: 80px;
  z-index: -1;
}

.hidden {
  display: none !important;
}

.activ-slider {
  transition: 0.3s;
}

.main-testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.testimonials-text {
  font-family: "Poppins";
  font-weight: 500;
  color: #646464;
}

.testimonials-title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 40px;
  color: #212121;
  margin-bottom: 70px;
}

.testimonials-box {
  background-color: white;
  border-radius: 70px 0 70px 0;
  box-shadow: 7px 7px 30px 5px #42605426;
}

.testimonials-box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 20px 20px 80px;
  width: 500px;
  height: 150px;
}

.testimonials-box__img {
  position: absolute;
  top: 20px;
  left: -40px;
  width: 100px;
  height: 100px;
  border-radius: 30px 0 30px 0;
}

.testimonials-box__first-words{
  color: black;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 22px;
}

.testimonials-box__rest{
  margin-left: 4px;
  color: #646464;
  font-family: "Open Sans";
  font-size: 15px;
}

.testimonials-box__quotes{
  position: absolute;
  top: 15px;
  right: 45px;
  width: 35px;
  height: 35px;
  color: #b0855b;
}

.arrow{
  top: 160px;
}
